.button {
	background: transparent;
	border: none;
	color: var(--white);
	cursor: pointer;
	font-size: 2rem;
}

.button:active {
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
}
